In [27]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import LabelEncoder

In [28]:
import matplotlib.pyplot as plt

In [29]:
%matplotlib inline

In [30]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [31]:
#check the dimension of train 
print "row:{} and column:{} of  train dataframe".format(train_df.shape[0],train_df.shape[1])

row:348978 and column:51 of  train dataframe

In [32]:
#check the dimension of test
print "row:{} and column:{} of  test dataframe".format(test_df.shape[0],test_df.shape[1])

row:523466 and column:50 of  test dataframe

In [33]:
train_df.head()

,transaction_id,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,...,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42,target
0,id_11,2.302632e-08,0.040182,0.0,1.800000e-07,2.302632e-08,2.368421e-08,1.115205e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
1,id_33,7.965789e-06,0.157872,0.0,2.105000e-06,2.769737e-07,7.965789e-06,2.433058e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0
2,id_51,7.828947e-08,0.089140,0.0,3.550000e-07,4.671053e-08,1.052632e-07,4.276014e-07,gf,ce,...,0,0,0,0,0,0,0,0,0,0
3,id_54,7.894737e-08,0.227239,0.0,1.050000e-06,1.381579e-07,2.190789e-07,1.848054e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
4,id_62,3.321053e-06,0.160410,0.0,2.105000e-06,2.769737e-07,3.340789e-06,2.152983e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0

In [34]:
train_df.dtypes

transaction_id     object
num_var_1         float64
num_var_2         float64
num_var_3         float64
num_var_4         float64
num_var_5         float64
num_var_6         float64
num_var_7         float64
cat_var_1          object
cat_var_2          object
cat_var_3          object
cat_var_4          object
cat_var_5          object
cat_var_6          object
cat_var_7          object
cat_var_8          object
cat_var_9          object
cat_var_10         object
cat_var_11         object
cat_var_12         object
cat_var_13         object
cat_var_14         object
cat_var_15         object
cat_var_16         object
cat_var_17         object
cat_var_18         object
cat_var_19          int64
cat_var_20          int64
cat_var_21          int64
cat_var_22          int64
cat_var_23          int64
cat_var_24          int64
cat_var_25          int64
cat_var_26          int64
cat_var_27          int64
cat_var_28          int64
cat_var_29          int64
cat_var_30          int64
cat_var_31          int64
cat_var_32          int64
cat_var_33          int64
cat_var_34          int64
cat_var_35          int64
cat_var_36          int64
cat_var_37          int64
cat_var_38          int64
cat_var_39          int64
cat_var_40          int64
cat_var_41          int64
cat_var_42          int64
target              int64
dtype: object

In [35]:

all_data = pd.concat((train_df.loc[:,'transaction_id':'cat_var_42'],
                      test_df.loc[:,'transaction_id':'cat_var_42']))

In [36]:
#check the missing value 
all_data.isnull().sum()

transaction_id         0
num_var_1              0
num_var_2              0
num_var_3              0
num_var_4              0
num_var_5              0
num_var_6              0
num_var_7              0
cat_var_1          34474
cat_var_2              0
cat_var_3          97215
cat_var_4              0
cat_var_5              0
cat_var_6          21943
cat_var_7              0
cat_var_8         117876
cat_var_9              0
cat_var_10             0
cat_var_11             0
cat_var_12             0
cat_var_13             0
cat_var_14             0
cat_var_15             0
cat_var_16             0
cat_var_17             0
cat_var_18             0
cat_var_19             0
cat_var_20             0
cat_var_21             0
cat_var_22             0
cat_var_23             0
cat_var_24             0
cat_var_25             0
cat_var_26             0
cat_var_27             0
cat_var_28             0
cat_var_29             0
cat_var_30             0
cat_var_31             0
cat_var_32             0
cat_var_33             0
cat_var_34             0
cat_var_35             0
cat_var_36             0
cat_var_37             0
cat_var_38             0
cat_var_39             0
cat_var_40             0
cat_var_41             0
cat_var_42             0
dtype: int64

In [37]:
#three column are having missing value ,initially i would like to drop 
#train_red_df=train_df[train_df.columns.difference(['cat_var_1','cat_var_3','cat_var_8'])]

In [38]:
all_data["cat_var_1"].value_counts()

gf    330763
da    253029
pu     49788
yw     12330
on      7752
gz      7607
ye      6303
og      5367
to      5117
nk      5043
tl      4707
qk      4094
jk      3756
ex      3236
pv      3028
yv      2939
ln      2915
xf      2903
zl      2878
nm      2383
tq      2267
jp      2114
pt      2111
ap      2109
by      1986
fx      1974
hn      1796
mx      1738
nj      1623
ua      1534
       ...
dx        26
lm        26
bg        25
iu        25
in        25
vi        25
ri        25
kh        24
ea        24
ms        23
rt        22
vx        22
rc        22
zu        21
bc        21
iv        20
hk        20
ev        20
oh        20
cc        18
tr        18
oa        18
at        15
tt        15
ed        14
py        14
or        14
xn        13
zp        12
mh        12
Name: cat_var_1, Length: 537, dtype: int64

In [39]:
#fill nan


all_data["cat_var_1"].fillna(all_data["cat_var_1"].value_counts().index[0])  #imputed with most frequent value,first value will contain most frequently occuring value
all_data["cat_var_3"].fillna(all_data["cat_var_3"].value_counts(). index[0])
all_data["cat_var_6"].fillna(all_data["cat_var_6"].value_counts().index[0])
all_data["cat_var_8"].fillna(all_data["cat_var_8"].value_counts().index[0])

0         dn
1         dn
2         dn
3         tk
4         dn
5         dn
6         hn
7         dn
8         jo
9         dn
10        dn
11        dn
12        dn
13        hd
14        jo
15        dn
16        dn
17        dn
18        dn
19        ea
20        jo
21        qk
22        dn
23        qk
24        tk
25        ga
26        dn
27        cb
28        dn
29        dn
          ..
523436    da
523437    dn
523438    da
523439    dn
523440    lh
523441    dn
523442    jo
523443    dn
523444    ao
523445    dn
523446    jo
523447    dn
523448    da
523449    da
523450    dn
523451    da
523452    dn
523453    dn
523454    da
523455    dn
523456    da
523457    jk
523458    dn
523459    dn
523460    dn
523461    dn
523462    db
523463    ua
523464    da
523465    bk
Name: cat_var_8, Length: 872444, dtype: object

In [40]:
all_data.shape

(872444, 50)

In [41]:
# convert categorical into integer used label encoder
le = LabelEncoder()

In [42]:
objcolname=all_data.columns[all_data.dtypes==object]

In [43]:
objcolname

Index([u'transaction_id', u'cat_var_1', u'cat_var_2', u'cat_var_3',
       u'cat_var_4', u'cat_var_5', u'cat_var_6', u'cat_var_7', u'cat_var_8',
       u'cat_var_9', u'cat_var_10', u'cat_var_11', u'cat_var_12',
       u'cat_var_13', u'cat_var_14', u'cat_var_15', u'cat_var_16',
       u'cat_var_17', u'cat_var_18'],
      dtype='object')

In [44]:
#convert all the data into integer except transaction as it is not required at preset 
for col in objcolname:
    if col!='transaction_id':
        all_data[col]=le.fit_transform(all_data[col])

C:\Users\Ravi\Anaconda2\lib\site-packages\numpy\lib\arraysetops.py:216: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

In [45]:
all_data.dtypes

transaction_id     object
num_var_1         float64
num_var_2         float64
num_var_3         float64
num_var_4         float64
num_var_5         float64
num_var_6         float64
num_var_7         float64
cat_var_1           int64
cat_var_2           int64
cat_var_3           int64
cat_var_4           int64
cat_var_5           int64
cat_var_6           int64
cat_var_7           int64
cat_var_8           int64
cat_var_9           int64
cat_var_10          int64
cat_var_11          int64
cat_var_12          int64
cat_var_13          int64
cat_var_14          int64
cat_var_15          int64
cat_var_16          int64
cat_var_17          int64
cat_var_18          int64
cat_var_19          int64
cat_var_20          int64
cat_var_21          int64
cat_var_22          int64
cat_var_23          int64
cat_var_24          int64
cat_var_25          int64
cat_var_26          int64
cat_var_27          int64
cat_var_28          int64
cat_var_29          int64
cat_var_30          int64
cat_var_31          int64
cat_var_32          int64
cat_var_33          int64
cat_var_34          int64
cat_var_35          int64
cat_var_36          int64
cat_var_37          int64
cat_var_38          int64
cat_var_39          int64
cat_var_40          int64
cat_var_41          int64
cat_var_42          int64
dtype: object

In [46]:
#extract target column 
y=train_df['target']

In [47]:
all_data.dtypes

transaction_id     object
num_var_1         float64
num_var_2         float64
num_var_3         float64
num_var_4         float64
num_var_5         float64
num_var_6         float64
num_var_7         float64
cat_var_1           int64
cat_var_2           int64
cat_var_3           int64
cat_var_4           int64
cat_var_5           int64
cat_var_6           int64
cat_var_7           int64
cat_var_8           int64
cat_var_9           int64
cat_var_10          int64
cat_var_11          int64
cat_var_12          int64
cat_var_13          int64
cat_var_14          int64
cat_var_15          int64
cat_var_16          int64
cat_var_17          int64
cat_var_18          int64
cat_var_19          int64
cat_var_20          int64
cat_var_21          int64
cat_var_22          int64
cat_var_23          int64
cat_var_24          int64
cat_var_25          int64
cat_var_26          int64
cat_var_27          int64
cat_var_28          int64
cat_var_29          int64
cat_var_30          int64
cat_var_31          int64
cat_var_32          int64
cat_var_33          int64
cat_var_34          int64
cat_var_35          int64
cat_var_36          int64
cat_var_37          int64
cat_var_38          int64
cat_var_39          int64
cat_var_40          int64
cat_var_41          int64
cat_var_42          int64
dtype: object

In [51]:
#standard Scalar
from sklearn.preprocessing import StandardScaler

In [52]:
std_scaler=StandardScaler().fit(all_data.loc[:,all_data.columns!='transaction_id'])

In [53]:
all_data_scaled = std_scaler.transform(all_data.loc[:,all_data.columns!='transaction_id'])

In [25]:
all_data_scaled

array([[ -1.05762975e-02,  -9.16042812e-01,  -5.09554463e-03, ...,
         -1.51407265e-03,  -1.07061043e-03,   0.00000000e+00],
       [ -6.07376814e-03,  -2.18115395e-02,  -5.09554463e-03, ...,
         -1.51407265e-03,  -1.07061043e-03,   0.00000000e+00],
       [ -1.05449704e-02,  -5.44049030e-01,  -5.09554463e-03, ...,
         -1.51407265e-03,  -1.07061043e-03,   0.00000000e+00],
       ...,
       [ -1.05479539e-02,   1.93778421e+00,  -5.09554463e-03, ...,
         -1.51407265e-03,  -1.07061043e-03,   0.00000000e+00],
       [ -1.05296798e-02,  -6.43939810e-02,  -5.09554463e-03, ...,
         -1.51407265e-03,  -1.07061043e-03,   0.00000000e+00],
       [ -9.66184362e-03,   2.39494288e+00,  -5.09554463e-03, ...,
         -1.51407265e-03,  -1.07061043e-03,   0.00000000e+00]])

In [26]:
#dimension reduction

In [54]:
from sklearn.decomposition import PCA

In [55]:
pca = PCA()

In [56]:
pca.fit(all_data_scaled)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [57]:
print pca.explained_variance_

[  6.79314679e+00   4.55931605e+00   3.41542211e+00   2.28754987e+00
   2.01659895e+00   1.36110074e+00   1.17084672e+00   1.12143361e+00
   1.08509265e+00   1.03264984e+00   1.01417815e+00   1.00439057e+00
   1.00104370e+00   1.00068682e+00   1.00029906e+00   1.00021829e+00
   1.00008514e+00   1.00006759e+00   1.00002490e+00   1.00000861e+00
   9.99956885e-01   9.99891000e-01   9.97274860e-01   9.92065605e-01
   9.78583545e-01   9.15996880e-01   7.96200613e-01   7.77771134e-01
   6.11147457e-01   5.67835530e-01   5.28595455e-01   5.16445707e-01
   4.60642356e-01   3.52933432e-01   3.03673491e-01   2.59818889e-01
   2.39800004e-01   2.30013470e-01   1.92716219e-01   1.42034296e-01
   9.41276939e-02   8.95681541e-02   6.34091126e-02   2.53380657e-02
   2.56490915e-30   1.51561276e-30   2.42766721e-32   2.42766721e-32
   4.33403846e-33]

In [58]:
pca.n_components = 20

In [59]:
all_data_reduced = pca.fit_transform(all_data_scaled)

In [60]:
#just to verify
all_data_reduced.shape

(872444L, 20L)

In [61]:
#train,test split 
X_train = all_data_reduced[:train_df.shape[0]]
#X_train = all_data[:train_df.shape[0]]

#X_train=X_train.loc[:,X_train.columns!='transaction_id']

In [62]:
X_test=all_data_reduced[:test_df.shape[0]]

#X_test=all_data[:test_df.shape[0]]
#X_test=X_test.loc[:,X_test.columns!='transaction_id']

In [63]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(random_state=7)
scores = cross_val_score(forest_reg, X_train, y, scoring='r2', cv=5)
print(scores)
print('mean r2:',np.mean(scores))

[ 0.04411615  0.05377905  0.05238705  0.05924693  0.0455267 ]
('mean r2:', 0.05101117844426286)

In [40]:
from sklearn.ensemble import BaggingClassifier
import time
from sklearn.svm import SVC

In [ ]:
#tryy with bagging 

start = time.time()
clf = BaggingClassifier(SVC(kernel='linear', C=1.0 ))
clf.fit(X_train, y)
end = time.time()
print "Bagging SVC", end - start, clf.score(X_train,y)

In [ ]:
#simple SVM 

C = 1.0 # SVM regularization parameter
svc = svm.SVC(kernel='rbf', C=C, decision_function_shape='ovr').fit(X_train, y)

In [ ]:
Z = svc.predict(X_plot)

In [ ]:
#apply SVM on reduced data 

parameters = [{'kernel': ['rbf'],
               'gamma': [0.01, 0.1],
                'C': [1, 10,1000]},
              {'kernel': ['linear'], 'C': [1, 10, 1000]}]

In [ ]:

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
clf = GridSearchCV(svm.SVC(decision_function_shape='ovr'), parameters, cv=5)
clf.fit(X_reduced, y)

In [ ]:
print(clf.best_params_)